.author {
  position: relative;
  text-align: right;
}

.link-licence::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../icons/cc.svg);
  background-size: 20px;
}
